body {
  /* media queries -------------------------------------------------------------------*/
}
body #header_component {
  width: 100%;
  height: 45px;
  background-color: rgb(51, 57, 83);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}
body #header_component .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}
body #header_component .wrapper .logo_div {
  display: flex;
  max-width: 120px;
  margin-right: 50px;
}
body #header_component .wrapper .logo_div .logo_image {
  width: 100%;
  margin-top: 5px;
}
body #header_component .wrapper .nav_div {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
body #header_component .wrapper .nav_div .top_nav {
  display: none;
  flex: 1;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .left {
  display: flex;
  align-items: center;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .left ul li:hover {
  background-color: #0b1a4d;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .right {
  display: flex;
  align-items: center;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .right .register_login {
  display: flex;
  align-items: center;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .right .register_login .image_div .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
body #header_component .wrapper .nav_div .top_nav #top_nav_component .nav-link {
  color: white;
}
body #header_component .wrapper .nav_div .right_nav {
  display: flex;
  justify-content: end;
  flex: 1;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component {
  display: flex;
  /* off-canvas-trigger/btn */
  /* Add a black background color to the off-canvas */
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .right_offcanvas_trigger {
  text-align: end;
  padding-right: 5px;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .right_offcanvas_trigger .bi {
  font-size: 1.8rem;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas {
  background-color: #1a1d29;
  overflow: hidden;
  width: 70%;
  /* offcanvas-head*/
  /* Style the links inside the off canvas body */
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-head .profile {
  display: flex;
  margin: 0px 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  align-items: center;
  /* set the profile image size on off-canvas */
  /* set the profile image details font size on off-canvas */
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-head .profile .image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-head .profile .details .username {
  color: #cb8313;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body nav {
  min-height: 100%;
  border-radius: 10px;
  padding: 0px 5px;
  background-color: #303341;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body ul li {
  display: block;
  text-decoration: none;
  list-style: none;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .nav_link {
  display: block;
  color: #f2f2f2;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  border-top: 1px solid #1a1d29;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .nav_link:last-child {
  border-bottom: 1px solid #1a1d29;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .nav_link .active {
  /* Add a color to the active/current link */
  background-color: #04AA6D;
  color: white;
  border-bottom: none;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .sub-category1 {
  border-top: 1px solid #1a1d29;
  margin-left: 10px;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .sub-category2 {
  margin-left: 20px;
}
body #header_component .wrapper .nav_div .right_nav #right_nav_component .offcanvas .offcanvas-body .sub-category-item {
  margin-left: 20px;
  font-size: inherit;
  display: block;
  color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  body #header_component .wrapper {
    max-width: 90%;
  }
  body #header_component .wrapper .nav_div .top_nav {
    display: flex;
  }
  body #header_component .wrapper .nav_div .right_nav {
    display: none;
  }
}
body #main {
  margin-top: 50px;
  min-height: 700px;
}
body #footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #footer .socialmedia {
  display: flex;
  justify-content: center;
}
body #footer .socialmedia img {
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
body #footer .socialmedia img:hover {
  box-shadow: 0 0 2px 0 grey;
}
body #auth {
  max-width: 500px;
}
body #auth #register {
  max-width: 500px;
}
body #auth #register h1 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}
body #auth #register .register_form input {
  margin-bottom: 10px;
}
body #auth #register .register_form .invalid {
  border: 1px solid red;
}
body #auth #register .register_form .valid {
  border: 1px solid green;
}
body #auth #register .register_form button {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
body #auth #signin {
  max-width: 500px;
}
body #auth #signin h1 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}
body #auth #signin .signin_form input {
  margin-bottom: 10px;
}
body #auth #signin .signin_form .invalid {
  border: 1px solid red;
}
body #auth #signin .signin_form .valid {
  border: 1px solid green;
}
body #auth #signin .signin_form button {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
body #auth #oauth {
  margin-top: 25px;
}
body #auth #oauth h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
body #auth #oauth .oauth_options {
  display: flex;
  justify-content: space-between;
}
body #auth #oauth .oauth_options .oauth_option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 2px grey;
  cursor: pointer;
  width: 28%;
  padding: 5px;
}
body #auth #oauth .oauth_options .oauth_option img {
  width: 28%;
  padding-right: 5px;
}
body #auth #auth_toggle {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
body #auth #auth_toggle .wrapper {
  display: flex;
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
}
body #auth #auth_toggle .wrapper .toggle {
  font-size: 1.2rem;
  padding: 0 8px;
}
body #auth #auth_toggle .wrapper .toggle_on {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 3px 0;
}
body #auth .or {
  display: flex;
  justify-content: end;
  align-items: center;
}
body #auth .or span {
  margin: 0 5px;
}
body #auth .or hr {
  flex: 1;
}
body #home main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #home main .section {
  width: 80%;
  margin-bottom: 50px;
  justify-content: center;
}
body #home main #section-one, body #home main #section-two {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}
body #home main #section-one .content, body #home main #section-two .content {
  flex: 1;
  display: flex;
  min-width: 300px;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #home main #section-one .content p, body #home main #section-two .content p {
  font-size: 1rem;
}
body #home main #section-one .image, body #home main #section-two .image {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  height: 400px;
}
body #home main #section-one .image img, body #home main #section-two .image img {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 300px;
  border-top-right-radius: 300px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #home main #supports {
  display: flex;
  flex-direction: column;
}
body #home main #supports h2 {
  text-align: center;
  padding: 20px 0;
}
body #home main #supports .supports {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
body #home main #supports .supports .support {
  flex: 1;
  box-shadow: 0 0 1px 0;
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 2px 0;
}
body #home main #supports .supports .support h3 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
body #home main #supports .supports .support .image {
  width: 100%;
  height: 250px;
}
body #home main #supports .supports .support .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body #home main #partners h2 {
  text-align: center;
  margin-bottom: 20px;
}
body #home main #partners > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
body #home main #partners > div .left {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
body #home main #partners > div .left h3 {
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: end;
}
body #home main #partners > div .left p {
  text-align: end;
}
body #home main #partners > div .left .button {
  padding: 10px;
  border: 2px solid black;
}
body #home main #partners > div .right {
  flex: 1;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body #home main #partners > div .right .partner-image {
  width: 100px;
  height: 100px;
  align-self: center;
  justify-self: center;
}
body #home main #partners > div .right .partner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 900px) {
  body #home main .section {
    width: 90%;
  }
  body #home main #section-one .left {
    order: 2;
  }
  body #home main #section-one .right {
    order: 1;
  }
  body #home main #section-one .image, body #home main #section-two .image {
    height: 300px;
  }
  body #home main #partners > div .left {
    align-items: center;
  }
  body #home main #partners > div .left h3 {
    width: 100%;
    text-align: center;
  }
  body #home main #partners > div .left p {
    text-align: justify;
  }
}
body #converter main section {
  margin-bottom: 20px;
}
body #converter main #new_task_section h2 {
  text-align: center;
}
body #converter main #new_task_section .converter_form {
  padding: 10px;
}
body #converter main #new_task_section .converter_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 2px;
  border-radius: 10px;
}
body #converter main #new_task_section .converter_form form fieldset {
  width: 100%;
  margin-bottom: 10px;
}
body #converter main #new_task_section .converter_form form button {
  width: 200px;
  margin-bottom: 20px;
}
body #converter main #recent_tasks_section h3 {
  text-align: center;
}
body #converter main #recent_tasks_section .recent_tasks {
  padding: 10px;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .top {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .top .left {
  flex: 1;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .top .right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px 0;
  margin-bottom: 10px;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .from, body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .arrow, body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .from {
  flex: 1;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .arrow {
  flex: 1;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .to {
  flex: 1;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .platform {
  font-weight: bold;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .booking_code {
  font-size: 1.2rem;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .center .result {
  display: flex;
  gap: 5px;
}
body #converter main #recent_tasks_section .recent_tasks #tasks .task .bottom .view-details {
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
}
body #converter main #recent_tasks_section .view-all {
  display: block;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
body #history main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
body #history main .wrapper .filters {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  background-color: grey;
  border-radius: 10px;
}
body #history main .wrapper .filters .filter {
  flex: 1;
  text-align: center;
  padding: 5px;
}
body #history main .wrapper .filters .selected {
  box-shadow: 0 0 2px 0;
  border-radius: 10px;
  background-color: white;
}
body #history main .wrapper .tasks {
  width: 100%;
}
body #history main .wrapper .tasks #tasks .task {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0;
}
body #history main .wrapper .tasks #tasks .task .top {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
}
body #history main .wrapper .tasks #tasks .task .top .left {
  flex: 1;
}
body #history main .wrapper .tasks #tasks .task .top .right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
body #history main .wrapper .tasks #tasks .task .center {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px 0;
  margin-bottom: 10px;
}
body #history main .wrapper .tasks #tasks .task .center .from, body #history main .wrapper .tasks #tasks .task .center .arrow, body #history main .wrapper .tasks #tasks .task .center .to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #history main .wrapper .tasks #tasks .task .center .from {
  flex: 1;
}
body #history main .wrapper .tasks #tasks .task .center .arrow {
  flex: 1;
}
body #history main .wrapper .tasks #tasks .task .center .to {
  flex: 1;
}
body #history main .wrapper .tasks #tasks .task .center .platform {
  font-weight: bold;
}
body #history main .wrapper .tasks #tasks .task .center .booking_code {
  font-size: 1.2rem;
}
body #history main .wrapper .tasks #tasks .task .center .result {
  display: flex;
  gap: 5px;
}
body #history main .wrapper .tasks #tasks .task .bottom .view-details {
  text-align: center;
  background-color: lightgrey;
  border-radius: 10px;
}
body #loader {
  display: none;
  position: absolute; /* relative to parent */
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 45px;
  height: 45px;
  border: 7px solid #ffa502;
  border-radius: 50%;
  border-top: 7px solid #333953;
  opacity: 0.6;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  /* Note: the  translate(-50%,-50%) is to help in the correct centering of the loader */
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */