@import './variables';
@import './mixins';


body {
    // general styles
    @import './Header';
    @import './Main';
    @import './Footer';

    // page styles
    @import './auth/Auth';
    // @import './home/Home';
    @import './home/Home';
    @import './converter/Converter';
    @import './history/History';


    #loader {
        display: none;
        position: absolute;  /* relative to parent */
        left: 50%;
        top: 120px;
        transform: translate(-50%,-50%);
        z-index: 10;
        width: 45px;
        height: 45px;
        border: 7px solid #ffa502;
        border-radius: 50%;
        border-top: 7px solid #333953;
        opacity: 0.6;
        animation: spin 1s linear infinite;   
    }
    @keyframes spin {
        /* Note: the  translate(-50%,-50%) is to help in the correct centering of the loader */
        0% { transform: translateX(-50%) rotate(0deg); }
        100% { transform: translateX(-50%) rotate(360deg); }
    }  
    
}









