// designing home using mainly flex box for layout

#home {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section {
            width: 80%;
            margin-bottom: 50px;
            justify-content: center;
        }

        #section-one, #section-two {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            gap: 20px;
    
            .content {
                flex: 1;
                display: flex;
                min-width: 300px;
                max-width: 600px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                p {
                    font-size: 1.0rem;
                }
            }
    
            .image {
                flex: 1;
                
                min-width: 300px;
                max-width: 500px;
                height: 400px;
                img {
                    border-top-left-radius: 150px;
                    border-bottom-left-radius: 300px;
                    border-top-right-radius: 300px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    
        #supports {
            display: flex;
            flex-direction: column;
    
            h2 {
                text-align: center;
                padding: 20px 0;
            }
    
            .supports {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
    
                .support {
                    flex: 1;
                    box-shadow: 0 0 1px 0;
                    border-radius: 10px;
                    padding: 10px;
                    min-width: 300px;
                    max-width: 500px;
                    box-shadow: 0 0 2px 0;
    
                    h3 {
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-align: center;
                        margin: 20px 0;
                    }
    
                    .image {
                        width: 100%;
                        height: 250px;
    
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                }
            }
    
        }
    
        #partners {
            h2 {
                text-align: center;
                margin-bottom: 20px;
            }
            > div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
        
                .left {
                    flex: 1;
                    min-width: 300px;
                    display:flex;
                    flex-direction: column;
                    align-items: end;
        
                    h3 {
                        width: 50%;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-align: end;
                    }
                    
                    p {
                        text-align: end;
                    }
        
                    .button {
                        padding: 10px;
                        border: 2px solid black;
                    }
                }
        
                .right {
                    flex: 1;
                    min-width: 300px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
        
                    .partner-image {
                        width: 100px;
                        height: 100px;
                        align-self: center;
                        justify-self: center;
        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
        
                }
            }
        }
    }
}


@media screen and (max-width:900px) {
    #home {
        main  {
            .section {
                width: 90%;
            }

            #section-one {
                
                .left {
                    order: 2;
                }
    
                .right {
                    order: 1
                }
            }

            #section-one, #section-two {
                .image {
                    height: 300px;
                }
            }
    
            #partners {
                > div {
                    .left {
                        align-items: center;
                        h3 {
                            width: 100%;
                            text-align: center;
                        }
                        
                        p {
                            text-align: justify;
                        }
                    }  
                } 
            }
        }

    }
}